@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: #FAF4D3;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #00716b, #00716b 1px, #FAF4D3 1px, #FAF4D3);
}



.container {
  background-color: #faf4d3;
  opacity: 100;
  color: #0c1618;
}
